body {
  text-align: center;
}

h2, h3 {
  font-family:"fantasy";
  font-weight: bold;
}

p {
    color: #000;
    font-size: 1rem;
 }

/*title section */
#title {
  background-color: #A7D2CB;
  color: #FFF;
  text-align: left;
}
.container-fluid {
  padding:3% 10%;
}

.title-image
{
width: 20%;
transform: rotate(25deg);
z-index: 0;
position: absolute;
}

 /* Headings */
 .big-Heading {
   font-family: "Rochester";
   font-size: 4rem;
   line-height: 1.5;
 }

 .section-heading {
   font-size: 3rem;
   line-height: 1
 }




/*Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}




/* Buttons */
.btn {
  margin: 5% 3% 5% 3%
}




/*Features-Section*/
 #features {
   padding: 7% 15%;
   background-color: #fff;
   position: relative;
   z-index: 1;
 }

 .featurecol {
   padding: 5%
 }

.feature-title {
  font-size: 2rem;
}

.imgsinfo {
  color: #7FBCD2;
  margin-bottom: 1rem;
}

.imgsinfo:hover {
  color: #A7D2CB;
}




/* Testimonials */
#testimonials {
  background-color: #a7d2cf;
  color: #fff;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1
}

.testimonial-img {
width: 20%;
border-radius: 100%;
margin: 20px;
}

/*Responsive Movilephon */
@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    width: 50%;
    position: static;
    transition: rotate(0);
  }
}


.cta-tittle {
  font-family:"Rochester" ;
  font-size: 3rem;
  line-height: 1.5rem;
  padding-bottom: 5%;
  font-weight: bold;
}

.social-icons {
  color: white;
}

/* End section */
#footer {
  padding: 3%;
  background-color: #a7ced2;
}

 .social-icons {
   padding: 20px 10px;
 }

 .copyright {
   color: white;
 }
